DB_CONNECTION = db
DB_DATABASENAME = DA
DB_USERNAME = thanhlv
DB_PASSWORD = UjhbNpTnlShHq01U

NODE_ENV=development
JWT_KEY=LeThanh
JWT_EXPIRE=30d
RESET_PASSWORD_KEY=Lethanh123

PORT =
API_ADDRESS=https://provinces.open-api.vn/api/?depth=3
API_URL=https://do-an-tot-nghiep-lvthanh.herokuapp.com/api
FRONEND_URL=https://main--storied-halva-d5c778.netlify.app

SMPT_HOST=smtp.gmail.com
SMPT_PORT=587
SMPT_SERVICE=gmail
SMPT_MAIL=lethanh231120@gmail.com
SMPT_PASSWORD=sjeuojrktzvsrwpj

CLOUDINARY_NAME = dyjstqmhi
CLOUDINARY_API_KEY = 973973624712756
CLOUDINARY_API_SECRET = S8RZVycIUZsZbXicN3WiVszkcCM